$redColor: #d62b4d;
$blueColor: #19a2e0;
$orangeColor: #ee7531;
$newsColor: #f6f4e2;
$footerBackground: #ebe8d9;
$cubic-bezier: all 0.3s cubic-bezier(0.25, 0.1, 0.28, 1.54);
$ease-in-out: all 0.3s ease-in-out;

$facebook: #3b5998;
$twitter: #1da1f2;
$youtube: #ff0000;
$linkedin: #0077b5;
$instagram: #f56040;

html {
  margin: 0;
}
.html,
.body {
  overflow: hidden;
  @media (max-width: 576px) {
    overflow: auto;
  }
}

.loading {
  width: 100vw;
  height: 100vh;
  background: $newsColor;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar {
  .custom-height {
    height: 100vh;
    display: flex;
    flex-direction: column;
    @media (max-width: 768px) {
      height: 85vh;
    }
  }
  width: 315px;
  transition: $ease-in-out;
  opacity: 0;
  .side-links {
    a {
      font-size: 16px;
      font-weight: 600;
      padding: 1.125rem 1.25rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
      display: block;
      position: relative;
      &:hover {
        background: $newsColor;
        color: #495057 !important;
      }
      &.active {
        color: #fff !important;
        background-color: $blueColor;
      }
      &:after {
        content: "\f053";
        position: absolute;
        left: 1.25rem;
        right: unset;
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
      }
    }
    .languages-links {
      a {
        color: $orangeColor;
        transition: $ease-in-out;
        &:hover {
          color: $blueColor;
          background: transparent !important;
        }
        &:after {
          display: none !important;
        }
      }
      .ar-link {
        font-size: 18px;
        font-weight: bold;
        font-family: "Almarai", sans-serif;
        line-height: 16px;
        position: relative;
        &::before {
          content: "";
          width: 1px;
          height: 24px;
          background-color: #eaeaea;
          position: absolute;
          left: 0;
        }
      }
    }
  }
  &.show {
    opacity: 1;
  }
}

.side-menu {
  width: 60px;
  height: 60px;
  background-color: $redColor;
  z-index: 999;
  top: 0;
  left: unset;
  right: 0;
  transform: translateX(0px);
  transition: $ease-in-out;
  &:hover {
    background-color: darken($redColor, 10%);
    transition: $ease-in-out;
  }
  span {
    width: 32px;
    height: 3px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    transition: $ease-in-out;
  }
  span:nth-child(1) {
    transform: translate(-50%, -50%) translateY(-10px);
  }
  span:nth-child(3) {
    transform: translate(-50%, -50%) translateY(10px);
  }
  &.opened {
    background-color: $redColor;
    span:nth-child(1) {
      transform: translate(-50%, -50%) translateY(-40px);
      opacity: 0;
      transition: $cubic-bezier;
    }
    span:nth-child(3) {
      transform: translate(-50%, -50%) translateY(40px);
      opacity: 0;
      transition: $cubic-bezier;
    }
    span:nth-child(2) {
      transform: translate(-50%, -50%) rotate(45deg);
      transition: $cubic-bezier;
    }
    span:nth-child(4) {
      transform: translate(-50%, -50%) rotate(-45deg);
      transition: $cubic-bezier;
    }
  }
}

body {
  max-width: 100vw;
  height: auto;
  font-family: "Almarai", sans-serif;
  direction: rtl;
  .modal-backdrop{
    display: none !important;
  }
}
::-webkit-scrollbar {
  display: none;
}
img {
  max-width: 100%;
  outline: none;
}
a:hover {
  text-decoration: none !important;
}
ul {
  list-style: none;
}
.text-red {
  color: $redColor !important;
  &:hover {
    color: darken($redColor, 10%) !important;
  }
}
.text-blue {
  color: $blueColor !important;
  &:hover {
    color: darken($blueColor, 5%) !important;
  }
}
.bg-orange {
  color: #fff !important;
  background-color: $orangeColor;
  transition: $ease-in-out;
  &:hover {
    background-color: darken($redColor, 10%);
  }
}
.bg-red {
  color: #fff !important;
  background-color: $redColor;
  transition: $ease-in-out;
  &:hover {
    background-color: darken($redColor, 10%);
  }
}
.bg-reds {
  color: #fff !important;
  background-color: $redColor !important;
  transition: $ease-in-out;
  &:hover {
    background-color: darken($redColor, 10%) !important;
  }
}
.bg-blue {
  color: #fff;
  background-color: $blueColor;
  transition: $ease-in-out;
  &:hover {
    background-color: darken($blueColor, 10%);
  }
}

section {
  font-family: "Almarai", sans-serif !important;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.home,
.about,
.gallery,
.partner,
.library,
.mob-subscribe {
  padding: 5%;
  @media (max-width: 992px) {
    padding: 10% 5%;
  }
  @media (max-width: 768px) {
    padding: 18% 6%;
  }
}

.data {
  transform: translateX(0px);
  transition: $ease-in-out;
  box-shadow: 0 0px 30px rgba(220, 220, 220, 0.3);
  position: relative;
  z-index: 99;
  .trigger {
    top: 0;
    right: 0;
    height: 100%;
    z-index: 99999;
    width: 100vw;
    margin-top: 60px;
  }
}

.dragged {
  transform: translateX(-315px) !important;
}

.home {
  padding: 5% 5% 7% 5%;
  @media (max-width: 576px) {
    padding: 20% 6% 20% 6%;
    h2 {
      font-size: 1.5rem;
    }
    .custom-mobile-height {
      height: 90% !important;
    }
  }
  .logo-white img {
    height: 98px;
  }
  .register {
    background-color: $redColor;
    padding: 14px 30px;
    font-size: 1.35rem;
    text-transform: uppercase;
    font-weight: 500;
    transition: $ease-in-out;
    &:hover {
      background-color: #fff !important;
      color: $redColor !important;
    }
  }
  .exampleModal{
    width: 100%;
    height: 100vh;
    &::before{
      content: "";
      width: 100vw;
      height: 100vh;
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      top: 0;
      left: 0;
      z-index: 0;
    }
    .custom-dialog{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      max-width: 60%;
      @media (max-width: 768) {
        min-width: 90% !important;
      }
    }
  }
  .bg-transparent{
    background: none;
    border: 0;
    outline: none;
  }
  @media (max-width: 768px) {
    .logo-white img {
      height: 70px;
    }
    .register {
      background-color: $redColor;
      padding: 14px 30px;
      font-size: 1.1rem;
      text-transform: uppercase;
      font-weight: 500;
    }
  }
  .social {
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    height: 66px;
    background: #f2f2f2;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    @media (max-width: 992px) {
      background: transparent;
    }
    a {
      padding: 21px;
      transition: $ease-in-out;
      @media (min-width: 992px) {
        padding: 21px 10px;
      }
      &:nth-of-type(1):hover {
        color: $facebook !important;
      }
      &:nth-of-type(2):hover {
        color: $twitter !important;
      }
      &:nth-of-type(3):hover {
        color: $youtube !important;
      }
      &:nth-of-type(4):hover {
        color: $linkedin !important;
      }
      &:nth-of-type(5):hover {
        color: $instagram !important;
      }
    }
  }
  .social-mobile {
    bottom: 40px;
  }
}

.news {
  padding-right: 0 !important;
  background-color: $newsColor;
  .all-news,
  .all-events {
    .custom-position {
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 170px;
    }
  }
  .custom-card {
    h6 {
      line-height: 28px;
    }
    .news-tag {
      background-color: $redColor;
      line-height: 28px;
      padding: 2px 10px;
      font-weight: 500;
      font-size: 14px;
    }
    .custom-title {
      line-height: 2.1rem;
      font-size: 1.4rem;
      font-weight: 600;
    }
    .custom-paragraph {
      font-size: 14px;
      line-height: 23px;
      font-weight: 500;
    }
    .custom-more {
      font-size: 16px;
      direction: rtl;
      i {
        vertical-align: inherit;
      }
    }
    @media (max-width: 1200px) {
      .news-tag {
        line-height: 10px;
        padding: 10px 8px;
        font-weight: 400;
        font-size: 12px;
      }
      .custom-title {
        line-height: 1.7rem;
        font-size: 1.25rem;
        font-weight: 500;
        height: 58px;
        overflow: hidden;
      }
      .custom-paragraph {
        height: 90px;
        overflow: hidden;
      }
    }
  }
  .arrow-right {
    position: relative;
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-right: 20px solid #f6f4e2;
      border-left: unset;
      position: absolute;
      top: 50%;
      right: unset;
      left: -20px;
      z-index: 2;
      transform: translateY(-20px);
    }
  }
  .arrow-left {
    position: relative;
    &::after {
      content: "";
      width: 0;
      height: 0;
      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #ffffff;
      border-right: unset;
      position: absolute;
      top: 50%;
      left: unset;
      right: -20px;
      z-index: 2;
      transform: translateY(-20px);
    }
  }
  @media (max-width: 992px) {
    .mobile-news {
      img {
        min-width: 100%;
        min-height: 100%;
      }
      .custom-position {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
      }
      .custom-card {
        .custom-title {
          line-height: 1.95rem;
          font-size: 1.3rem;
          font-weight: 700;
          height: auto;
          overflow: unset;
        }
        .custom-paragraph {
          height: auto;
          overflow: unset;
          line-height: 25px;
          color: #424242;
        }
      }
      .arrow-up {
        position: relative;
        &::before {
          content: "";
          width: 0;
          height: 0;
          border-left: 16px solid transparent;
          border-right: 16px solid transparent;
          border-bottom: 20px solid #ffffff;
          position: absolute;
          top: -20px;
          left: 24px;
        }
      }
    }
  }
}

.about {
  .exampleModal{
    width: 100%;
    height: 100vh;
    top: 200vh;
    &::before{
      content: "";
      width: 100vw;
      height: 100vh;
      position: absolute;
      background: rgba(0, 0, 0, 0.8);
      top: 0;
      left: 0;
      z-index: 0;
    }
    .custom-dialog{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      max-width: 60%;
      @media (max-width: 768) {
        min-width: 90% !important;
      }
    }
  }
  .section-tag::before {
    content: "من نحن";
    text-transform: uppercase;
    color: #424242;
    background: #fff;
    margin-right: unset;
    margin-left: auto;
    line-height: 15px;
    padding: 10px 14px;
    font-weight: 800;
    font-size: 15px;
  }
  .head-content {
    .section-title {
      font-size: 42px;
      line-height: 60px;
      font-weight: bold;
      width: 75%;
      margin-top: 10px;
    }
    .section-body {
      font-size: 22px;
      line-height: 33px;
      font-weight: 400;
      width: 100%;
      margin-top: 10px;
      color: #c5c5c5;
    }
    .section-link {
      font-size: 16px;
      width: fit-content;
      font-weight: 500;
      padding: 14px 18px;
      color: #fff;
      background-color: $blueColor;
      transition: $ease-in-out;
      border: 0;
      span {
        font-size: 16px;
        font-weight: 600;
      }
      &:hover {
        color: $blueColor;
        background-color: #fff;
      }
      @media (max-width: 768px) {
        display: block;
        padding: 10px 12px;
      }
    }
  }
  .body-content {
    .about-logos {
      img {
        height: 60px;
      }
    }
    p {
      margin: 0;
    }
    span {
      width: fit-content;
      @media (max-width: 768px) {
        width: initial;
      }
    }
    .custom-hover {
      span,
      .about-title {
        transition: $ease-in-out;
        margin-top: 20px;
        margin-bottom: 15px;
      }
      &:hover {
        .about-title {
          color: $blueColor;
        }
      }
      @media (max-width: 768px) {
        span {
          margin-top: 10px;
          margin-bottom: 0px;
        }
        .about-title {
          margin-top: 10px;
          margin-bottom: 10px;
          h4 {
            margin-bottom: 0px;
          }
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .head-content {
      .section-title {
        font-size: 26px;
        line-height: 39px;
        font-weight: bold;
        width: 100%;
        margin-top: 10px;
      }
      .section-body {
        font-size: 14px;
        line-height: 21px;
        width: 100%;
        margin-top: 7px;
      }
    }
    .body-content {
      .custom-hover {
        .about-logos {
          img {
            height: 52px;
          }
        }
      }
      @media (max-width: 768px) {
        .slick-dotted.slick-slider {
          margin-bottom: 0px;
          .slick-dots {
            bottom: -10px;
          }
        }
      }
    }
  }
}

.gallery {
  .section-tag::before {
    content: "معرض الصور";
    text-transform: uppercase;
    color: #424242;
    background: #fff;
    margin-right: unset;
    margin-left: auto;
    line-height: 15px;
    padding: 10px 14px;
    font-weight: 800;
    font-size: 15px;
  }
  .head-content {
    .section-title {
      font-size: 42px;
      line-height: 60px;
      font-weight: bold;
      width: 75%;
      margin-top: 10px;
    }
    .section-body {
      font-size: 22px;
      line-height: 33px;
      font-weight: 400;
      width: 100%;
      margin-top: 10px;
      color: #c5c5c5;
    }
    .section-link {
      font-size: 16px;
      width: fit-content;
      font-weight: 500;
      padding: 14px 18px;
      color: #fff;
      background-color: $blueColor;
      transition: $ease-in-out;
      &:hover {
        color: $blueColor;
        background-color: #fff;
      }
    }
  }
  .body-content {
    @media (max-width: 768px) {
      margin-top: 100px;
    }
    a {
      .overlay {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0));
        opacity: 1;
        transition: $ease-in-out;
        &:hover {
          opacity: 0;
        }
        .text {
          position: absolute;
          bottom: 25px;
          text-align: center;
          padding: 15px;
          width: 100%;
          color: #fff;
          font-size: 22px;
          line-height: 33px;
          @media (max-width: 1200px) {
            font-size: 18px;
            line-height: 27px;
          }
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .head-content {
      .section-title {
        font-size: 36px;
        line-height: 54px;
        font-weight: bold;
        width: 100%;
        margin-top: 10px;
      }
      .section-body {
        font-size: 18px;
        line-height: 27px;
        width: 100%;
        margin-top: 7px;
      }
    }
    .body-content {
      .custom-hover {
        .about-logos {
          img {
            height: 52px;
          }
        }
      }
    }
  }
}

.partner {
  .section-tag::before {
    content: "الشركاء";
    text-transform: uppercase;
    color: #424242;
    background: #fff;
    margin-right: unset;
    margin-left: auto;
    line-height: 15px;
    padding: 10px 14px;
    font-weight: 800;
    font-size: 15px;
  }
  .head-content {
    .section-title {
      font-size: 42px;
      line-height: 60px;
      font-weight: bold;
      width: 75%;
      margin-top: 10px;
    }
    .section-body {
      font-size: 22px;
      line-height: 33px;
      font-weight: 400;
      width: 100%;
      margin-top: 10px;
      color: #c5c5c5;
    }
  }
  .body-content {
    margin-top: 250px;
    @media (max-width: 768px) {
      margin-top: 210px;
    }
    a {
      .overlay {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
        opacity: 1;
        transition: $ease-in-out;
        &:hover {
          opacity: 0;
        }
        .text {
          position: absolute;
          bottom: 25px;
          text-align: center;
          padding: 15px;
          width: 100%;
          color: #fff;
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .head-content {
      .section-title {
        font-size: 36px;
        line-height: 54px;
        font-weight: bold;
        width: 100%;
        margin-top: 10px;
      }
      .section-body {
        font-size: 18px;
        line-height: 27px;
        width: 100%;
        margin-top: 7px;
      }
    }
    .body-content {
      .custom-hover {
        .about-logos {
          img {
            height: 52px;
          }
        }
      }
    }
  }
  .mobile-about {
    .custom-indicators li {
      width: 25px;
      height: 5px;
      margin-right: 6px;
      margin-left: 6px;
    }
  }
}

.library {
  .section-tag::before {
    content: "المكتبة";
    text-transform: uppercase;
    color: #424242;
    background: #fff;
    margin-right: unset;
    margin-left: auto;
    line-height: 15px;
    padding: 10px 14px;
    font-weight: 800;
    font-size: 15px;
  }
  .head-content {
    .section-title {
      font-size: 42px;
      line-height: 60px;
      font-weight: bold;
      width: 75%;
      margin-top: 10px;
    }
    .section-body {
      font-size: 22px;
      line-height: 33px;
      font-weight: 400;
      width: 100%;
      margin-top: 10px;
      color: #c5c5c5;
    }
    .section-link {
      font-size: 16px;
      width: fit-content;
      font-weight: 500;
      padding: 12px 16px;
      color: #fff;
      background-color: $blueColor;
      transition: $ease-in-out;
      &:hover {
        color: $blueColor;
        background-color: #fff;
      }
    }
  }
  .body-content {
    @media (max-width: 768px) {
      margin-top: 100px;
    }
    a {
      .overlay {
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
        opacity: 1;
        transition: $ease-in-out;
        &:hover {
          opacity: 0;
        }
        .text {
          position: absolute;
          bottom: 10px;
          text-align: center;
          padding: 15px;
          width: 100%;
          color: #fff;
        }
      }
    }
  }
  @media (max-width: 1200px) {
    .head-content {
      .section-title {
        font-size: 36px;
        line-height: 54px;
        font-weight: bold;
        width: 100%;
        margin-top: 10px;
      }
      .section-body {
        font-size: 18px;
        line-height: 27px;
        width: 100%;
        margin-top: 7px;
      }
    }
    .body-content {
      .custom-hover {
        .about-logos {
          img {
            height: 52px;
          }
        }
      }
    }
  }
  .mobile-about {
    .custom-indicators li {
      width: 25px;
      height: 5px;
      margin-right: 6px;
      margin-left: 6px;
    }
  }
}

.mob-subscribe {
  position: relative;
  button {
    margin-top: 10px;
    line-height: 46px;
  }
  .custom-input {
    width: 100%;
    &::placeholder {
      font-size: 1.1rem;
      font-weight: lighter;
      color: #c0c0c0;
    }
  }
  .news-paragraph {
    line-height: 2rem;
  }
  .background {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.footer {
  #subscribe {
    .sub {
      .custom-form {
        max-width: 100%;
      }
      height: 63vh;
      .news-title {
        color: $redColor;
        font-weight: 700;
        font-size: 3rem;
      }
      .news-paragraph {
        font-weight: lighter;
      }
      button {
        right: unset;
        line-height: 46.3px;
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
        left: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
      .custom-input {
        width: 75%;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        &::placeholder {
          font-size: 1rem;
          font-weight: lighter;
          color: #c0c0c0;
        }
      }
      .background {
        bottom: 0;
        right: unset;
        left: 3rem;
      }
    }
  }

  .sub-footer {
    width: 100%;
    height: 37vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: $footerBackground;
    @media (max-width: 992px) {
      height: 100vh;
    }
    .Social-links {
      ul {
        li {
          line-height: 49px;
          width: 50px;
          height: 50px;
          a {
            transition: $ease-in-out;
            i {
              display: block;
              line-height: 50px;
              text-align: center;
            }
          }
          .facebook {
            &:hover {
              color: $facebook !important;
            }
          }
          .twitter {
            &:hover {
              color: $twitter !important;
            }
          }
          .youtube {
            &:hover {
              color: $youtube !important;
            }
          }
          .linkedin {
            &:hover {
              color: $linkedin !important;
            }
          }
          .instagram {
            &:hover {
              color: $instagram !important;
            }
          }
        }
      }
    }
    .copy-rights {
      background: darken($footerBackground, 3%);
    }
    @media (max-width: 768px) {
      > .row {
        height: 75%;
        .col-12.col-md-8 {
          height: 80%;
          margin-top: 3rem;
          .row {
            height: 100%;
          }
        }
      }
    }
  }
}

.red {
  border: solid 1.2px tomato !important;
}

.slick-initialized .slick-slide {
  outline: none !important;
}

.slick-slide {
  margin: 0 15px;
}

.slick-list {
  margin: 0 -15px;
}

.slick-dots {
  bottom: -40px;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 4px;
  margin: 8px 5px;
  padding: 0px;
  cursor: pointer;
  @media (max-width: 768px) {
    width: 26px;
  }
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 36px;
  height: 20px;
  padding: 5px;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
  cursor: pointer;
  @media (max-width: 768px) {
    width: 26px;
  }
}

.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
}

.slick-dots li button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 4px;
  text-align: center;
  opacity: 0.25;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @media (max-width: 768px) {
    width: 26px;
  }
}

.lightboxOverlay {
  opacity: 0.9 !important;
}

.lb-data .lb-details {
  margin-top: 5px;
}

.lb-data .lb-details .lb-caption {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  line-height: 21px;
  margin-bottom: 20px;
}

.lb-data .lb-details .lb-number {
  margin-top: 10px;
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
