<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="./scss/fonts.css">
    <link rel="stylesheet" href="./scss/aos.css">
    <link rel="stylesheet" href="./scss/style.css">
    <link rel="stylesheet" href="./scss/internal-style.css">
    <link href="https://fonts.googleapis.com/css?family=Almarai:400,700,800&display=swap&subset=arabic"
        rel="stylesheet">
    <title>Street sports incubator</title>
    <link rel="shortcut icon" type="image/gif" href="./imgs/logo-animation.gif">
</head>

<body class="contacts">
    <div id="app" style="height: 100vh;">
        <div id="loader" v-if="loading" class="loading position-fixed"
            style="padding: 0; margin: 0; width: 100vw;height: 100vh;background: #f6f4e2;z-index: 9999;display: flex;align-items: center;justify-content: center;">
            <img src="./imgs/logo-animation.gif" height="120px" alt="">
        </div>
        <div class="sidebar h-100 position-fixed border-right" :class="[open == true ? 'show' : '']">
            <div class="bg-white custom-height" id="sidebar-wrapper" @click="open = false">
                <div class="list-group list-group-flush h-auto side-links">
                    <a href="./index.html#home" :class="[activeLink == 'home' ? 'active' : '']"
                        @click="activeLink = 'home'" class="list-group-item-action w-100 text-uppercase">Home</a>
                    <a href="./index.html#news" :class="[activeLink == 'news' ? 'active' : '']"
                        @click="activeLink = 'news'" class="list-group-item-action w-100 text-uppercase">News /
                        Events</a>
                    <a href="./index.html#about" :class="[activeLink == 'about' ? 'active' : '']"
                        @click="activeLink = 'about'" class="list-group-item-action w-100 text-uppercase">About us</a>
                    <a href="./index.html#gallery" :class="[activeLink == 'gallery' ? 'active' : '']"
                        @click="activeLink = 'gallery'" class="list-group-item-action w-100 text-uppercase">Our
                        Gallery</a>
                    <a href="./index.html#partners" :class="[activeLink == 'partners' ? 'active' : '']"
                        @click="activeLink = 'partners'" class="list-group-item-action w-100 text-uppercase">Our
                        partners</a>
                    <a href="./index.html#library" :class="[activeLink == 'library' ? 'active' : '']"
                        @click="activeLink = 'library'" class="list-group-item-action w-100 text-uppercase">Our
                        library</a>
                </div>
                <div class="list-group list-group-flush h-auto mt-auto side-links">
                    <div class="mt-auto">
                        <div class="d-flex text-center languages-links">
                            <a href="#" class="list-group-item-action w-100 text-uppercase">English</a>
                            <a href="./index-ar.html" class="list-group-item-action w-100 ar-link">عربي</a>
                        </div>
                        <a href="./registration.html"
                            class="list-group-item-action w-100 bg-orange text-uppercase">Registeration</a>
                        <a href="javascript:void(0)" class="list-group-item-action w-100 bg-red text-uppercase">Contact
                            us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="data h-auto" :class="[open == true ? 'dragged' : '' ]">
            <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom custom-navbar position-sticky py-0"
                data-aos="fade-down">
                <a href="#" class="d-block side-menu" @click="open = !open" :class="[open == true ? 'opened' : '' ]">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <div class="collapse navbar-collapse h-100" id="navbarNav">
                    <ul class="navbar-nav h-100">
                        <li class="nav-item border-right">
                            <a class="nav-link py-0 px-4" href="#" onclick="goBack()"><i
                                    class="fas fa-angle-left mr-2"></i>Back</a>
                        </li>
                        <li class="nav-item border-right active">
                            <a class="nav-link py-0 px-4 text-uppercase">contact us</a>
                        </li>
                    </ul>
                </div>
                <div class="moile-nav d-block d-lg-none">
                    <div class="d-flex">
                        <ul class="navbar-nav">
                            <li class="nav-item border-right">
                                <a class="nav-link py-0 px-4" href="./index.html#2"><i
                                        class="fas fa-angle-left mr-2"></i></a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link py-0 px-4 text-uppercase">contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="news-content h-100" @click="open = false" v-if="home">
                <div class="container-fluid h-100">
                    <div class="row h-100">
                        <div class="col-md-4 h-md-100 bg-white h-auto side-list p-4 p-md-5" data-aos="fade-right">
                            <div class="d-flex flex-column justify-content-between">
                                <div class="h-50">
                                    <div class="list-title text-uppercase mb-2">contact us</div>
                                    <h4 class="list-slogan text-muted">We welcome <strong>feedback</strong> and
                                        <strong>thoughts</strong> - from individuals,
                                        education professionals, the international business community and official
                                        organisations.
                                    </h4>
                                </div>
                                <div class="h-50 mt-5">
                                    <div class="d-flex flex-column">
                                        <div class="d-flex justify-content-between border-bottom py-3">
                                            <div class="key text-muted">
                                                <h6 class="m-0">Call</h6>
                                            </div>
                                            <div class="value text-muted">
                                                <h6 class="m-0">{{ footer.contact_info.info.contact_phone }}</h6
                                                    class="m-0">
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between border-bottom py-3">
                                            <div class="key text-muted">
                                                <h6 class="m-0">Write</h6>
                                            </div>
                                            <div class="value w-75 text-muted location">
                                                <h6 class="mr-auto m-0 text-right"> Street Sports Incubator, P.O Box
                                                    34173, Ammmn-Jordan</h6>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between border-bottom py-3">
                                            <div class="key text-muted">
                                                <h6 class="m-0">Email</h6>
                                            </div>
                                            <div class="value text-muted">
                                                <h6 class="m-0">
                                                    <a href="mailto:info@streetsportsincubator.org"
                                                        class="text-secondary">
                                                        {{ footer.contact_info.info.contact_email }}
                                                    </a>
                                                </h6>
                                            </div>
                                        </div>
                                        <div class="d-flex justify-content-between border-bottom py-3">
                                            <div class="key text-muted">
                                                <h6 class="m-0">Social</h6>
                                            </div>
                                            <div class="Social-links">
                                                <ul class="p-0 m-0 d-flex">
                                                    <li class="">
                                                        <a href="{{home.fb_link}}" class="p-3 text-muted" target="_blank"><i
                                                                class="fab fa-facebook-f fa-lg"></i></a>
                                                    </li>
                                                    <li class="">
                                                        <a href="{{home.tw_link}}" class="p-3 text-muted" target="_blank"><i
                                                                class="fab fa-twitter fa-lg"></i></a>
                                                    </li>
                                                    <li class="border-right-0">
                                                        <a href="{{home.yt_link}}" class="p-3 text-muted" target="_blank"><i
                                                                class="fab fa-youtube fa-lg"></i></a>
                                                    </li>
                                                    <li class="">
                                                        <a href="{{home.in_link}}" class="p-3 text-muted" target="_blank"><i
                                                                class="fab fa-linkedin fa-lg"></i></a>
                                                    </li>
                                                    <li class="">
                                                        <a href="{{home.ig_link}}" class="py-3 pl-3 pr-0 text-muted" target="_blank"><i
                                                                class="fab fa-instagram fa-lg"></i></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 content-list bg-white h-100 p-0" data-aos="fade-left">
                            <div class="container custom-container">
                                <div class="contact-title">
                                    <h4 class="text-muted">PLEASE COMPLETE THE FORM BELOW</h4>
                                    <h6 class="text-info m-0"><small>* Mandatory fields</small></h6>
                                    <form class="custom-form" id="validated-form" action="" method="post">
                                        <div class="form-row custom-row">
                                            <div class="col-12 col-md-6 custom-input">
                                                <input type="text" class="form-control form-control-lg" req="true" onkeypress="return /[a-z]/i.test(event.key)"
                                                    placeholder="First name*" v-model="contactPage.first_name">
                                            </div>
                                            <div class="col-12 col-md-6 custom-input">
                                                <input type="text" class="form-control form-control-lg" req="true" onkeypress="return /[a-z]/i.test(event.key)"
                                                    placeholder="Last name*" v-model="contactPage.sure_name">
                                            </div>
                                        </div>
                                        <div class="form-row custom-row">
                                            <div class="col-12 col-md-6 custom-input">
                                                <input type="email" class="form-control form-control-lg" req="true"
                                                    placeholder="Email*" v-model="contactPage.email">

                                            </div>
                                            <div class="col-12 col-md-6 custom-input">
                                                <input type="number" id="phone-reg" class="form-control form-control-lg" req="true"
                                                    placeholder="Phone Number*" v-model="contactPage.phone">
                                            </div>
                                        </div>
                                        <div class="form-row custom-row position-relative">
                                            <div class="col-12 col-md-6 custom-input">
                                                <select class="custom-select" req="true" v-model="contactPage.country">
                                                    <option value="" disabled selected>Country*</option>
                                                    <option value="Afghanistan">Afghanistan</option>
                                                    <option value="Åland Islands">Åland Islands</option>
                                                    <option value="Albania">Albania</option>
                                                    <option value="Algeria">Algeria</option>
                                                    <option value="American Samoa">American Samoa</option>
                                                    <option value="Andorra">Andorra</option>
                                                    <option value="Angola">Angola</option>
                                                    <option value="Anguilla">Anguilla</option>
                                                    <option value="Antarctica">Antarctica</option>
                                                    <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                                                    <option value="Argentina">Argentina</option>
                                                    <option value="Armenia">Armenia</option>
                                                    <option value="Aruba">Aruba</option>
                                                    <option value="Australia">Australia</option>
                                                    <option value="Austria">Austria</option>
                                                    <option value="Azerbaijan">Azerbaijan</option>
                                                    <option value="Bahamas">Bahamas</option>
                                                    <option value="Bahrain">Bahrain</option>
                                                    <option value="Bangladesh">Bangladesh</option>
                                                    <option value="Barbados">Barbados</option>
                                                    <option value="Belarus">Belarus</option>
                                                    <option value="Belgium">Belgium</option>
                                                    <option value="Belize">Belize</option>
                                                    <option value="Benin">Benin</option>
                                                    <option value="Bermuda">Bermuda</option>
                                                    <option value="Bhutan">Bhutan</option>
                                                    <option value="Bolivia">Bolivia</option>
                                                    <option value="Bosnia and Herzegovina">Bosnia and Herzegovina
                                                    </option>
                                                    <option value="Botswana">Botswana</option>
                                                    <option value="Bouvet Island">Bouvet Island</option>
                                                    <option value="Brazil">Brazil</option>
                                                    <option value="British Indian Ocean Territory">British Indian Ocean
                                                        Territory</option>
                                                    <option value="Brunei Darussalam">Brunei Darussalam</option>
                                                    <option value="Bulgaria">Bulgaria</option>
                                                    <option value="Burkina Faso">Burkina Faso</option>
                                                    <option value="Burundi">Burundi</option>
                                                    <option value="Cambodia">Cambodia</option>
                                                    <option value="Cameroon">Cameroon</option>
                                                    <option value="Canada">Canada</option>
                                                    <option value="Cape Verde">Cape Verde</option>
                                                    <option value="Cayman Islands">Cayman Islands</option>
                                                    <option value="Central African Republic">Central African Republic
                                                    </option>
                                                    <option value="Chad">Chad</option>
                                                    <option value="Chile">Chile</option>
                                                    <option value="China">China</option>
                                                    <option value="Christmas Island">Christmas Island</option>
                                                    <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands
                                                    </option>
                                                    <option value="Colombia">Colombia</option>
                                                    <option value="Comoros">Comoros</option>
                                                    <option value="Congo">Congo</option>
                                                    <option value="Congo, The Democratic Republic of The">Congo, The
                                                        Democratic Republic of The</option>
                                                    <option value="Cook Islands">Cook Islands</option>
                                                    <option value="Costa Rica">Costa Rica</option>
                                                    <option value="Cote D'ivoire">Cote D'ivoire</option>
                                                    <option value="Croatia">Croatia</option>
                                                    <option value="Cuba">Cuba</option>
                                                    <option value="Cyprus">Cyprus</option>
                                                    <option value="Czech Republic">Czech Republic</option>
                                                    <option value="Denmark">Denmark</option>
                                                    <option value="Djibouti">Djibouti</option>
                                                    <option value="Dominica">Dominica</option>
                                                    <option value="Dominican Republic">Dominican Republic</option>
                                                    <option value="Ecuador">Ecuador</option>
                                                    <option value="Egypt">Egypt</option>
                                                    <option value="El Salvador">El Salvador</option>
                                                    <option value="Equatorial Guinea">Equatorial Guinea</option>
                                                    <option value="Eritrea">Eritrea</option>
                                                    <option value="Estonia">Estonia</option>
                                                    <option value="Ethiopia">Ethiopia</option>
                                                    <option value="Falkland Islands (Malvinas)">Falkland Islands
                                                        (Malvinas)</option>
                                                    <option value="Faroe Islands">Faroe Islands</option>
                                                    <option value="Fiji">Fiji</option>
                                                    <option value="Finland">Finland</option>
                                                    <option value="France">France</option>
                                                    <option value="French Guiana">French Guiana</option>
                                                    <option value="French Polynesia">French Polynesia</option>
                                                    <option value="French Southern Territories">French Southern
                                                        Territories</option>
                                                    <option value="Gabon">Gabon</option>
                                                    <option value="Gambia">Gambia</option>
                                                    <option value="Georgia">Georgia</option>
                                                    <option value="Germany">Germany</option>
                                                    <option value="Ghana">Ghana</option>
                                                    <option value="Gibraltar">Gibraltar</option>
                                                    <option value="Greece">Greece</option>
                                                    <option value="Greenland">Greenland</option>
                                                    <option value="Grenada">Grenada</option>
                                                    <option value="Guadeloupe">Guadeloupe</option>
                                                    <option value="Guam">Guam</option>
                                                    <option value="Guatemala">Guatemala</option>
                                                    <option value="Guernsey">Guernsey</option>
                                                    <option value="Guinea">Guinea</option>
                                                    <option value="Guinea-bissau">Guinea-bissau</option>
                                                    <option value="Guyana">Guyana</option>
                                                    <option value="Haiti">Haiti</option>
                                                    <option value="Heard Island and Mcdonald Islands">Heard Island and
                                                        Mcdonald Islands</option>
                                                    <option value="Holy See (Vatican City State)">Holy See (Vatican City
                                                        State)</option>
                                                    <option value="Honduras">Honduras</option>
                                                    <option value="Hong Kong">Hong Kong</option>
                                                    <option value="Hungary">Hungary</option>
                                                    <option value="Iceland">Iceland</option>
                                                    <option value="India">India</option>
                                                    <option value="Indonesia">Indonesia</option>
                                                    <option value="Iran, Islamic Republic of">Iran, Islamic Republic of
                                                    </option>
                                                    <option value="Iraq">Iraq</option>
                                                    <option value="Ireland">Ireland</option>
                                                    <option value="Isle of Man">Isle of Man</option>
                                                    <option value="Italy">Italy</option>
                                                    <option value="Jamaica">Jamaica</option>
                                                    <option value="Japan">Japan</option>
                                                    <option value="Jersey">Jersey</option>
                                                    <option value="Jordan">Jordan</option>
                                                    <option value="Kazakhstan">Kazakhstan</option>
                                                    <option value="Kenya">Kenya</option>
                                                    <option value="Kiribati">Kiribati</option>
                                                    <option value="Korea, Democratic People's Republic of">Korea,
                                                        Democratic People's Republic of</option>
                                                    <option value="Korea, Republic of">Korea, Republic of</option>
                                                    <option value="Kuwait">Kuwait</option>
                                                    <option value="Kyrgyzstan">Kyrgyzstan</option>
                                                    <option value="Lao People's Democratic Republic">Lao People's
                                                        Democratic Republic</option>
                                                    <option value="Latvia">Latvia</option>
                                                    <option value="Lebanon">Lebanon</option>
                                                    <option value="Lesotho">Lesotho</option>
                                                    <option value="Liberia">Liberia</option>
                                                    <option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya
                                                    </option>
                                                    <option value="Liechtenstein">Liechtenstein</option>
                                                    <option value="Lithuania">Lithuania</option>
                                                    <option value="Luxembourg">Luxembourg</option>
                                                    <option value="Macao">Macao</option>
                                                    <option value="Macedonia, The Former Yugoslav Republic of">
                                                        Macedonia, The Former Yugoslav Republic of</option>
                                                    <option value="Madagascar">Madagascar</option>
                                                    <option value="Malawi">Malawi</option>
                                                    <option value="Malaysia">Malaysia</option>
                                                    <option value="Maldives">Maldives</option>
                                                    <option value="Mali">Mali</option>
                                                    <option value="Malta">Malta</option>
                                                    <option value="Marshall Islands">Marshall Islands</option>
                                                    <option value="Martinique">Martinique</option>
                                                    <option value="Mauritania">Mauritania</option>
                                                    <option value="Mauritius">Mauritius</option>
                                                    <option value="Mayotte">Mayotte</option>
                                                    <option value="Mexico">Mexico</option>
                                                    <option value="Micronesia, Federated States of">Micronesia,
                                                        Federated States of</option>
                                                    <option value="Moldova, Republic of">Moldova, Republic of</option>
                                                    <option value="Monaco">Monaco</option>
                                                    <option value="Mongolia">Mongolia</option>
                                                    <option value="Montenegro">Montenegro</option>
                                                    <option value="Montserrat">Montserrat</option>
                                                    <option value="Morocco">Morocco</option>
                                                    <option value="Mozambique">Mozambique</option>
                                                    <option value="Myanmar">Myanmar</option>
                                                    <option value="Namibia">Namibia</option>
                                                    <option value="Nauru">Nauru</option>
                                                    <option value="Nepal">Nepal</option>
                                                    <option value="Netherlands">Netherlands</option>
                                                    <option value="Netherlands Antilles">Netherlands Antilles</option>
                                                    <option value="New Caledonia">New Caledonia</option>
                                                    <option value="New Zealand">New Zealand</option>
                                                    <option value="Nicaragua">Nicaragua</option>
                                                    <option value="Niger">Niger</option>
                                                    <option value="Nigeria">Nigeria</option>
                                                    <option value="Niue">Niue</option>
                                                    <option value="Norfolk Island">Norfolk Island</option>
                                                    <option value="Northern Mariana Islands">Northern Mariana Islands
                                                    </option>
                                                    <option value="Norway">Norway</option>
                                                    <option value="Oman">Oman</option>
                                                    <option value="Pakistan">Pakistan</option>
                                                    <option value="Palau">Palau</option>
                                                    <option value="Palestine">Palestine</option>
                                                    <option value="Panama">Panama</option>
                                                    <option value="Papua New Guinea">Papua New Guinea</option>
                                                    <option value="Paraguay">Paraguay</option>
                                                    <option value="Peru">Peru</option>
                                                    <option value="Philippines">Philippines</option>
                                                    <option value="Pitcairn">Pitcairn</option>
                                                    <option value="Poland">Poland</option>
                                                    <option value="Portugal">Portugal</option>
                                                    <option value="Puerto Rico">Puerto Rico</option>
                                                    <option value="Qatar">Qatar</option>
                                                    <option value="Reunion">Reunion</option>
                                                    <option value="Romania">Romania</option>
                                                    <option value="Russian Federation">Russian Federation</option>
                                                    <option value="Rwanda">Rwanda</option>
                                                    <option value="Saint Helena">Saint Helena</option>
                                                    <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                                                    <option value="Saint Lucia">Saint Lucia</option>
                                                    <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon
                                                    </option>
                                                    <option value="Saint Vincent and The Grenadines">Saint Vincent and
                                                        The Grenadines</option>
                                                    <option value="Samoa">Samoa</option>
                                                    <option value="San Marino">San Marino</option>
                                                    <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                                                    <option value="Saudi Arabia">Saudi Arabia</option>
                                                    <option value="Senegal">Senegal</option>
                                                    <option value="Serbia">Serbia</option>
                                                    <option value="Seychelles">Seychelles</option>
                                                    <option value="Sierra Leone">Sierra Leone</option>
                                                    <option value="Singapore">Singapore</option>
                                                    <option value="Slovakia">Slovakia</option>
                                                    <option value="Slovenia">Slovenia</option>
                                                    <option value="Solomon Islands">Solomon Islands</option>
                                                    <option value="Somalia">Somalia</option>
                                                    <option value="South Africa">South Africa</option>
                                                    <option value="South Georgia and The South Sandwich Islands">South
                                                        Georgia and The South Sandwich Islands</option>
                                                    <option value="Spain">Spain</option>
                                                    <option value="Sri Lanka">Sri Lanka</option>
                                                    <option value="Sudan">Sudan</option>
                                                    <option value="Suriname">Suriname</option>
                                                    <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen
                                                    </option>
                                                    <option value="Swaziland">Swaziland</option>
                                                    <option value="Sweden">Sweden</option>
                                                    <option value="Switzerland">Switzerland</option>
                                                    <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                                                    <option value="Taiwan, Province of China">Taiwan, Province of China
                                                    </option>
                                                    <option value="Tajikistan">Tajikistan</option>
                                                    <option value="Tanzania, United Republic of">Tanzania, United
                                                        Republic of</option>
                                                    <option value="Thailand">Thailand</option>
                                                    <option value="Timor-leste">Timor-leste</option>
                                                    <option value="Togo">Togo</option>
                                                    <option value="Tokelau">Tokelau</option>
                                                    <option value="Tonga">Tonga</option>
                                                    <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                                                    <option value="Tunisia">Tunisia</option>
                                                    <option value="Turkey">Turkey</option>
                                                    <option value="Turkmenistan">Turkmenistan</option>
                                                    <option value="Turks and Caicos Islands">Turks and Caicos Islands
                                                    </option>
                                                    <option value="Tuvalu">Tuvalu</option>
                                                    <option value="Uganda">Uganda</option>
                                                    <option value="Ukraine">Ukraine</option>
                                                    <option value="United Arab Emirates">United Arab Emirates</option>
                                                    <option value="United Kingdom">United Kingdom</option>
                                                    <option value="United States">United States</option>
                                                    <option value="United States Minor Outlying Islands">United States
                                                        Minor Outlying Islands</option>
                                                    <option value="Uruguay">Uruguay</option>
                                                    <option value="Uzbekistan">Uzbekistan</option>
                                                    <option value="Vanuatu">Vanuatu</option>
                                                    <option value="Venezuela">Venezuela</option>
                                                    <option value="Viet Nam">Viet Nam</option>
                                                    <option value="Virgin Islands, British">Virgin Islands, British
                                                    </option>
                                                    <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                                                    <option value="Wallis and Futuna">Wallis and Futuna</option>
                                                    <option value="Western Sahara">Western Sahara</option>
                                                    <option value="Yemen">Yemen</option>
                                                    <option value="Zambia">Zambia</option>
                                                    <option value="Zimbabwe">Zimbabwe</option>
                                                </select>
                                                <i class="fas fa-caret-down"></i>
                                                <h6 class="feedback text-left position-absolute">
                                            </div>
                                            <div class="col-12 col-md-6 custom-input">
                                                <input type="text" class="form-control form-control-lg"
                                                    v-model="contactPage.business"
                                                    placeholder="Business / organisation">
                                            </div>
                                        </div>
                                        <div class="form-row custom-row position-relative">
                                            <div class="col-12 custom-input">
                                                <select class="custom-select" v-model="contactPage.topic">
                                                    <option value="" disabled selected>I'd like to
                                                        talk about</option>
                                                    <option value="General">General</option>
                                                    <option value="Human Resources">Human Resources</option>
                                                    <option value="Media">Media</option>
                                                    <option value="Partnerships">Partnerships</option>
                                                    <option value="Careers">Careers</option>
                                                    <option value="Funding">Funding</option>
                                                </select>
                                                <i class="fas fa-caret-down"></i>
                                            </div>
                                        </div>
                                        <div class="form-row custom-row">
                                            <div class="col-12 custom-input">
                                                <textarea name="" id="" rows="8" placeholder="Message*"
                                                    v-model="contactPage.message" req="true">
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="form-row custom-row">
                                            <div class="col-12">
                                                <button @click="postContact('#validated-form')"
                                                    class="btn bg-red text-uppercase custom-btn rounded-0"
                                                    type="button"> Send Message
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sub-footer" class="sub-footer" v-if="footer.contact_info">
                <div class="row px-4 py-5 p-md-5">
                    <div class="col-12 col-md-4 mt-0">
                        <div class="footer-logo">
                            <img src="./imgs/footer-logo.png" alt="" height="60">
                        </div>
                    </div>
                    <div class="col-12 col-md-8 mt-3 mt-md-0">
                        <div class="row">
                            <div class="col-12 col-md-4 mt-4 mt-md-0">
                                <div class="abouts-links">
                                    <h5 class="text-uppercase">About us</h5>
                                    <ul class="p-0 m-0 mt-3">
                                        <li class="py-1">
                                            <a href="./about-detailed.html?activeList=about_the_incubator"
                                                class="text-secondary">About The Incubator</a>
                                            </li">
                                        <li class="py-1">
                                            <a href="./about-detailed.html?activeList=about_game_jordan"
                                                class="text-secondary">About Game Jordan</a>
                                        </li>
                                        <li class="py-1">
                                            <a href="./about-detailed.html?activeList=about_jyif"
                                                class="text-secondary">About jyif</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 mt-4 mt-md-0">
                                <div class="contacts-links">
                                    <h5 class="text-uppercase">Contact us</h5>
                                    <ul class="p-0 m-0 mt-3">
                                        <li class="py-1">
                                            <p class="m-0 text-secondary"><i class="fas fa-phone-alt mr-1"></i>
                                                {{ footer.contact_info.info.contact_phone }}
                                            </p>
                                        </li>
                                        <li class="py-1">
                                            <p class="m-0 text-secondary"><i class="fas fa-envelope mr-1"></i>
                                                <a href="mailto:info@streetsportsincubator.org" class="text-secondary">
                                                    {{ footer.contact_info.info.contact_email }}
                                                </a>

                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 mt-4 mt-md-0">
                                <div class="Social-links">
                                    <h5 class="text-uppercase">Social Media</h5 class="text-uppercase">
                                    <ul class="p-0 m-0 mt-3 d-flex">
                                        <li class="border-right-0 border border-info">
                                            <a :href="footer.contact_info.social_links.fb_link"
                                                class="facebook text-dark">
                                                <i class="fab fa-facebook-f fa-lg"></i></a>
                                        </li>
                                        <li class="border-right-0 border border-info">
                                            <a :href="footer.contact_info.social_links.tw_link"
                                                class="twitter text-dark">
                                                <i class="fab fa-twitter fa-lg"></i>
                                            </a>
                                        </li>
                                        <li class="border-right-0 border border-info">
                                            <a :href="footer.contact_info.social_links.yt_link"
                                                class="youtube text-dark">
                                                <i class="fab fa-youtube fa-lg"></i>
                                            </a>
                                        </li>
                                        <li class="border-right-0 border border-info">
                                            <a :href="footer.contact_info.social_links.in_link"
                                                class="linkedin text-dark">
                                                <i class="fab fa-linkedin fa-lg"></i>
                                            </a>
                                        </li>
                                        <li class="border border-info">
                                            <a :href="footer.contact_info.social_links.ig_link"
                                                class="instagram text-dark">
                                                <i class="fab fa-instagram fa-lg"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="copy-rights p-2 px-2 px-md-5 d-flex justify-content-between flex-column flex-md-row text-center text-md-left">
                    <h6 class="m-0"><small>{{ footer.contact_info.info.copy_write_en }}</small></h6 class="p-0">
                    <h6 class="m-0 mt-2 mt-md-0"><small>Powered by <a href="http://www.eappera.com" target="_blank"
                                class="text-info">EappEra</a></small>
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/aos.js"></script>
    <script src="./js/scripts.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>