<!DOCTYPE html>
<html class="html" :dir="language=='ar' ? 'rtl' : 'ltr'">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, minimum-scale=1, maximum-scale=1">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
<link rel="stylesheet" href="./lightbox2-dev/dist/css/lightbox.css">
<link rel="stylesheet" href="./scss/aos.css">
<link rel="stylesheet" href="./scss/fonts.css">
<link rel="stylesheet" type="text/css" href="./scss/slick.css" />
<link rel="stylesheet" type="text/css" href="./scss/slick-theme.css" />
<link rel="stylesheet" href="./scss/ar_fonts.css">
<link rel="stylesheet" href="./scss/style.css">
<script type="text/javascript" src="./js/axios.min.js"></script>
<link rel="shortcut icon" type="image/gif" href="./imgs/logo-animation.gif">
<title>Street sports incubator</title>

<body class="body">
    <div id="app" :class="language">
        <link rel="stylesheet" href="./scss/style_ar.css" v-if="language=='ar'">
        <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
            v-if="language=='ar'">
        <div id="loader" v-if="loading" class="loading position-fixed"
            style="padding: 0; margin: 0; width: 100vw;height: 100vh;background: #f6f4e2;z-index: 999999;display: flex;align-items: center;justify-content: center;">
            <img src="./imgs/logo-animation.gif" height="120px" alt="">
        </div>
        <div class="sidebar h-100 position-fixed border-right" :class="[open == true ? 'show' : '']">
            <div class="bg-white custom-height" id="sidebar-wrapper" @click="open = false">
                <div class="list-group list-group-flush h-auto side-links">
                    <a href="#home" :class="[activeLink == 'home' ? 'active' : '']" @click="activeLink = 'home'"
                        class="list-group-item-action w-100 text-uppercase">{{tr.home}}</a>
                    <a href="#news" :class="[activeLink == 'news' ? 'active' : '']" @click="activeLink = 'news'"
                        class="list-group-item-action w-100 text-uppercase">{{tr.news_events}}</a>
                    <a href="#about" :class="[activeLink == 'about' ? 'active' : '']" @click="activeLink = 'about'"
                        class="list-group-item-action w-100 text-uppercase">{{tr.about}}</a>
                    <a href="#gallery" :class="[activeLink == 'gallery' ? 'active' : '']"
                        @click="activeLink = 'gallery'"
                        class="list-group-item-action w-100 text-uppercase">{{tr.gallery}}</a>
                    <a href="#partners" :class="[activeLink == 'partners' ? 'active' : '']"
                        @click="activeLink = 'partners'"
                        class="list-group-item-action w-100 text-uppercase">{{tr.partners}}</a>
                    <a href="#library" :class="[activeLink == 'library' ? 'active' : '']"
                        @click="activeLink = 'library'"
                        class="list-group-item-action w-100 text-uppercase">{{tr.library}}</a>
                </div>
                <div class="list-group list-group-flush h-auto mt-auto side-links">
                    <div class="mt-auto">
                        <div class="d-flex text-center languages-links">
                            <a href="javascript:void(0)" @click="setLanguage('en')"
                                class="list-group-item-action w-100 text-uppercase"
                                style="font-family: Soho Pro;">English</a>
                            <a href="javascript:void(0)" @click="setLanguage('ar')"
                                class="list-group-item-action w-100 ar-link">عربي</a>
                        </div>
                        <a href="./registration.html"
                            class="list-group-item-action w-100 bg-orange text-uppercase">{{tr.registration}}</a>
                        <a href="./contacts.html"
                            class="list-group-item-action w-100 bg-red text-uppercase">{{tr.Contact_us}}</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="javascript:void(0)" class="side-menu position-fixed" @click="open = !open"
            :class="[open == true ? 'dragged opened' : '' ]">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </a>
        <div class="data" :class="[open == true ? 'dragged' : '' ]">
            <div class="trigger position-absolute" v-if="open == true" @click="open = !open"></div>
            <section id="home" data-hash="home" class="section home text-center position-relative" v-if="home"
                style="background-size: cover;" :style="{ backgroundImage: 'url('+serverPath+home.background+')'}">
                <div class="d-flex flex-column justify-content-between h-100 custom-mobile-height">
                    <div class="logo-white">
                        <img :src="serverPath+home.logo" alt="">
                    </div>
                    <div class="d-none d-md-block">
                        <a href="./registration.html"
                            class="bg-danger text-white rounded-pill register">{{tr.register_now}}</a>
                    </div>
                    <div class="text-white">
                        <h2 class="m-0 text-white text-uppercase">{{tr.about_street}}</h2>
                        <button type="button" class="bg-transparent" data-toggle="modal" data-target="#exampleModal">
                            <i class="fas fa-play-circle mt-4 text-white" style="font-size: 48px;"></i>
                        </button>
                    </div>
                    <div class="modal fade exampleModal" id="exampleModal" tabindex="-1" role="dialog"
                        data-keyboard="true" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog custom-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="font-family: Soho Pro">&times;</span>
                                </button>
                                <div class="modal-body p-2">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="player" width="560" height="315" :src="getYoutubeEmbed()"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="text-white">
                        <h5 class="m-0 text-white text-uppercase" style="font-weight: normal">{{tr.implement}}</h5>
                        <div class="mt-4">
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <a href="{{home.p_by_text_1}}" :title="home.p_by_text_1" target="_blank">
                                            <img :src="serverPath+home.p_by_img_1" alt="">
                                        </a>
                                    </div>
                                    <div class="col-lg-6 mt-4 mt-lg-0">
                                        <a href="{{home.p_by_text_2}}" :title="home.p_by_text_2" target="_blank">
                                            <img :src="serverPath+home.p_by_img_2" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social position-absolute w-75 d-none d-lg-block">
                    <div class="d-flex justify-content-between px-5">
                        <a href="{{home.fb_link}}" class="text-dark" target="_blank">
                            <i class="fab fa-facebook-f fa-lg mr-2"></i>{{tr.facebook}}</a>
                        <a href="{{home.tw_link}}" class="text-dark" target="_blank">
                            <i class="fab fa-twitter fa-lg mr-2"></i>{{tr.twitter}}</a>
                        <a href="{{home.yt_link}}" class="text-dark" target="_blank">
                            <i class="fab fa-youtube fa-lg mr-2"></i>{{tr.youtube}}</a>
                        <a href="{{home.in_link}}" class="text-dark" target="_blank">
                            <i class="fab fa-linkedin fa-lg mr-2"></i>{{tr.linkedin}}</a>
                        <a href="{{home.ig_link}}" class="text-dark" target="_blank">
                            <i class="fab fa-instagram fa-lg mr-2"></i>{{tr.instagram}}</a>
                    </div>
                </div>
                <div class="social social-mobile position-absolute w-100 d-block d-lg-none">
                    <div class="d-flex justify-content-between px-md-5">
                        <a href="{{home.fb_link}}" class="text-white" target="_blank"><i
                                class="fab fa-facebook-f fa-lg mr-2"></i></a>
                        <a href="{{home.tw_link}}" class="text-white" target="_blank"><i
                                class="fab fa-twitter fa-lg mr-2"></i></a>
                        <a href="{{home.yt_link}}" class="text-white" target="_blank"><i
                                class="fab fa-youtube fa-lg mr-2"></i></a>
                        <a href="{{home.in_link}}" class="text-white" target="_blank"><i
                                class="fab fa-linkedin fa-lg mr-2"></i></a>
                        <a href="{{home.ig_link}}" class="text-white" target="_blank"><i
                                class="fab fa-instagram fa-lg mr-2"></i></a>
                    </div>
                </div>
            </section>
            <section id="news" data-hash="news" class="section news" v-if="news">
                <div class="h-100 d-none d-lg-block">
                    <div class="row h-100">
                        <div class="col-5 news-one p-0" data-aos="fade-in" data-aos-delay="200">
                            <img :src="serverPath+news[0].img" style="object-fit: cover; height:100%" />
                        </div>
                        <div class="col-7 news h-100">
                            <div class="row h-50 mr-0">
                                <div class="col p-0 aos" data-aos-offset="200"
                                    :data-aos="[language=='ar' ? 'fade-right' : 'fade-left']" data-aos-delay="200">
                                    <div class="news-card h-100 custom-card arrow-right">
                                        <div class="d-flex flex-column justify-content-between p-4 h-100">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="card-info text-muted m-0 align-middle"><small
                                                        class="font-weight-bold">{{ news[1].created_at }}</small>
                                                </h6>
                                                <div class="news-tag text-white text-uppercase">{{tr.news}}</div>
                                            </div>
                                            <a :href="'news-detailed.html?news-id='+news[1].id+'&page-type=news'"
                                                class="card-title text-red custom-title m-0 text-uppercase">
                                                {{ news[1].title.slice(0, 90) }}</a>
                                            <p class="card-text custom-paragraph m-0">
                                                {{ news[1].text.slice(0, 65) + '...' }}</p>
                                            <a :href="'news-detailed.html?news-id='+news[1].id+'&page-type=news'"
                                                class="btn btn-link p-0 text-left text-red font-weight-bold text-uppercase custom-more">{{tr.read_more}}<i
                                                    class="fas ml-2"
                                                    :class="[language=='ar' ? 'fa-chevron-left': 'fa-chevron-right']"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col p-0" data-aos-offset="400" data-aos-delay="300"
                                    :data-aos="[language=='ar' ? 'fade-right' : 'fade-left']" data-aos-anchor=".news">
                                    <div class="news-card bg-white h-100">
                                        <img :src="serverPath+news[1].img" style="object-fit: cover;height: 50vh;" />
                                    </div>
                                </div>
                                <div class="col p-0" data-aos-offset="600" data-aos-delay="400"
                                    :data-aos="[language=='ar' ? 'fade-right' : 'fade-left']" data-aos-anchor=".news">
                                    <div class="news-card h-100 d-flex flex-column">
                                        <a class="all-news bg-red h-50 position-relative"
                                            href="./news-events-lists.html?activeList=news">
                                            <div class="position-absolute custom-position">
                                                <h2 class="font-weight-bold text-uppercase text-center text-white">
                                                    {{tr.news}}</h2>
                                                <h5 class="font-weight-bold text-uppercase text-center text-white"
                                                    :class="[language=='ar' ? 'mt-3' : '']">
                                                    {{tr.discoverAll}}</h5>
                                            </div>
                                        </a>
                                        <a class="all-events bg-red h-50 position-relative"
                                            href="./news-events-lists.html?activeList=events">
                                            <div class="position-absolute custom-position">
                                                <h2 class="font-weight-bold text-uppercase text-center text-white">
                                                    {{tr.events}}</h2>
                                                <h5 class="font-weight-bold text-uppercase text-center text-white"
                                                    :class="[language=='ar' ? 'mt-3' : '']">
                                                    {{tr.discoverAll}}</h5>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="row h-50 mr-0">
                                <div class="col p-0" data-aos-offset="200" data-aos-delay="200"
                                    :data-aos="[language=='ar' ? 'fade-right' : 'fade-left']">
                                    <div class="news-card h-100 custom-card bg-white arrow-left">
                                        <div class="d-flex flex-column justify-content-between p-4 h-100">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="card-info text-muted m-0 align-middle"><small
                                                        class="font-weight-bold">{{ news[0].created_at }}</small>
                                                </h6>
                                                <div class="news-tag text-white text-uppercase">{{tr.news}}</div>
                                            </div>
                                            <a :href="'news-detailed.html?news-id='+news[0].id+'&page-type=news'"
                                                class="card-title text-red custom-title m-0 text-uppercase">{{ news[0].title.slice(0, 90) }}</a>
                                            <p class="card-text custom-paragraph m-0">
                                                {{ news[0].text.slice(0, 65) + '...' }}</p>
                                            <a :href="'news-detailed.html?news-id='+news[0].id+'&page-type=news'"
                                                class="btn btn-link p-0 text-left text-red font-weight-bold text-uppercase custom-more">{{tr.read_more}}<i
                                                    class="fas ml-2"
                                                    :class="[language=='ar' ? 'fa-chevron-left': 'fa-chevron-right']"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col p-0" data-aos-offset="400" data-aos-delay="300"
                                    :data-aos="[language=='ar' ? 'fade-right' : 'fade-left']" data-aos-anchor=".news">
                                    <div class="news-card h-100 custom-card arrow-right">
                                        <div class="d-flex flex-column justify-content-between p-4 h-100">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="card-info text-muted m-0 align-middle"><small
                                                        class="font-weight-bold">{{ events[0].event_at }}</small>
                                                </h6>
                                                <div class="news-tag text-white text-uppercase">{{tr.event}}</div>
                                            </div>
                                            <a :href="'news-detailed.html?news-id='+events[0].id+'&page-type=events'"
                                                class="card-title text-red custom-title m-0 text-uppercase">
                                                {{ events[0].title.slice(0, 90) }}</a>
                                            <p class="card-text custom-paragraph m-0">
                                                {{ events[0].text.slice(0, 65) + '...' }}</p>
                                            <a :href="'news-detailed.html?news-id='+events[0].id+'&page-type=events'"
                                                class="btn btn-link p-0 text-left text-red font-weight-bold text-uppercase custom-more">{{tr.read_more}}<i
                                                    class="fas ml-2"
                                                    :class="[language=='ar' ? 'fa-chevron-left': 'fa-chevron-right']"></i></a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col p-0" data-aos-offset="600" data-aos-delay="400"
                                    :data-aos="[language=='ar' ? 'fade-right' : 'fade-left']" data-aos-anchor=".news">
                                    <div class="news-card h-100">
                                        <img :src="serverPath+events[0].img" style="object-fit: cover;height: 50vh;" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="h-100 d-block d-lg-none mobile-news">
                    <div class="row m-0" style="height: 40%;">
                        <div class="col-12 news-one p-0" style="background-size: cover;">
                            <img :src="serverPath+news[0].img" style="object-fit: cover;">
                        </div>
                    </div>
                    <div class="row news m-0" style="height: 60%;">
                        <div class="news-card h-75 custom-card bg-white w-100 arrow-up">
                            <div class="d-flex flex-column justify-content-between p-4 h-100">
                                <div class="d-flex justify-content-between">
                                    <h6 class="card-info text-muted m-0 align-middle"><small
                                            class="font-weight-bold">{{ news[0].created_at }}</small>
                                    </h6>
                                    <div class="news-tag text-white text-uppercase">{{tr.news}}</div>
                                </div>
                                <a :href="'news-detailed.html?news-id='+news[0].id+'&page-type=news'"
                                    class="card-title text-red custom-title m-0">{{ news[0].title }}</a>
                                <a :href="'news-detailed.html?news-id='+news[0].id+'&page-type=news'"
                                    class="btn btn-link p-0 text-left text-red font-weight-bold text-uppercase custom-more">{{tr.read_more}}
                                    <i class="fas ml-2"
                                        :class="[language=='ar' ? 'fa-chevron-left': 'fa-chevron-right']"></i></a>
                            </div>
                        </div>
                        <div class="h-25 w-100 d-flex">
                            <a class="bg-red h-100 w-50 position-relative"
                                href="./news-events-lists.html?activeList=news">
                                <div class="position-absolute custom-position">
                                    <h5 class="font-weight-bold text-uppercase text-center text-white">
                                        {{tr.news}}</h5>
                                    <h6 class="font-weight-bold text-uppercase text-center text-white m-0">
                                        {{tr.discoverAll}}</h6>
                                </div>
                            </a>
                            <a class="bg-red h-100 w-50 position-relative"
                                href="./news-events-lists.html?activeList=events">
                                <div class="position-absolute custom-position">
                                    <h5 class="font-weight-bold text-uppercase text-center text-white">
                                        {{tr.events}}</h5>
                                    <h6 class="font-weight-bold text-uppercase text-center text-white m-0">
                                        {{tr.discoverAll}}</h6>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="about" data-hash="about" class="section about" style="background-size: cover;" v-if="about"
                :style="{ backgroundImage: 'url('+serverPath+about.background+')'}">
                <div class="d-flex flex-column justify-content-between h-100 w-100">
                    <div class="modal fade exampleModal" id="aboutExampleModal" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog custom-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true" style="font-family: Soho Pro">&times;</span>
                                </button>
                                <div class="modal-body p-2">
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <!-- ?autoplay=1 -->
                                        <iframe class="player" width="560" height="315" :src="getYoutubeEmbed()"
                                            frameborder="0"
                                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                            allowfullscreen>
                                        </iframe>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="head-content h-auto h-md-50 d-flex flex-column section-tag"
                        :data-aos="[language=='ar' ? 'fade-left' : 'fade-right']" data-aos-offset="600"
                        data-aos-delay="200" data-aos-anchor=".about">
                        <div class="section-title text-white text-uppercase">
                            {{about.title}}
                        </div>
                        <div class="section-body d-none d-md-block">
                            {{about.description}}
                        </div>
                        <button type="button" class="section-link mt-lg-4 mt-3 rounded" data-toggle="modal"
                            data-target="#aboutExampleModal">
                            <i class="fas fa-play"></i> {{tr.watchVideo}}
                        </button>
                    </div>
                    <div class="body-content h-auto h-md-50 text-center text-md-left">
                        <div class="h-100">
                            <div class="mt-auto" data-aos="fade-up" data-aos-offset="200" data-aos-delay="300"
                                data-aos-anchor=".about">
                                <div class="home-about h-100">
                                    <a href="./about-detailed.html?activeList=about_the_incubator"
                                        class="d-flex flex-column h-100 text-white custom-hover mb-4">
                                        <div class="about-logos">
                                            <img class="d-inline-block"
                                                :src="serverPath+about_pages.aboutTabs[0].logo" />
                                        </div>
                                        <div class="about-title">
                                            <h4>{{about_pages.aboutTabs[0].title}}</h4>
                                        </div>
                                        <div class="about-description">
                                            <p>{{about_pages.aboutTabs[0].short_description}}</p>
                                        </div>
                                        <span class="text-blue">{{tr.read_more}}<i class="fas ml-2 align-middle"
                                                :class="[language=='ar' ? 'fa-chevron-left': 'fa-chevron-right']"></i>
                                        </span>
                                    </a>
                                    <a href="./about-detailed.html?activeList=about_game_jordan"
                                        class="d-flex flex-column h-100 text-white custom-hover mb-4">
                                        <div class="about-logos">
                                            <img class="d-inline-block"
                                                :src="serverPath+about_pages.aboutTabs[1].logo" />
                                        </div>
                                        <div class="about-title">
                                            <h4>{{about_pages.aboutTabs[1].title}}</h4>
                                        </div>
                                        <div class="about-description">
                                            <p>{{about_pages.aboutTabs[1].short_description}}</p>
                                        </div>
                                        <span class="text-blue">{{tr.read_more}}<i class="fas ml-2 align-middle"
                                                :class="[language=='ar' ? 'fa-chevron-left': 'fa-chevron-right']"></i>
                                        </span>
                                    </a>
                                    <a href="./about-detailed.html?activeList=about_jyif"
                                        class="d-flex flex-column h-100 text-white custom-hover mb-4">
                                        <div class="about-logos">
                                            <img class="d-inline-block"
                                                :src="serverPath+about_pages.aboutTabs[2].logo" />
                                        </div>
                                        <div class="about-title">
                                            <h4>{{about_pages.aboutTabs[2].title}}</h4>
                                        </div>
                                        <div class="about-description">
                                            <p>{{about_pages.aboutTabs[2].short_description}}</p>
                                        </div>
                                        <span class="text-blue">{{tr.read_more}}<i class="fas ml-2 align-middle"
                                                :class="[language=='ar' ? 'fa-chevron-left': 'fa-chevron-right']"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="gallery" data-hash="gallery" class="section gallery" style="background-size: cover;"
                v-if="gallery_images" :style="{ backgroundImage: 'url('+serverPath+gallery.background+')'}">
                <div class="d-flex flex-column justify-content-between h-100 w-100">
                    <div class="head-content h-50 d-flex flex-column section-tag"
                        :data-aos="[language=='ar' ? 'fade-left' : 'fade-right']" data-aos-offset="600"
                        data-aos-delay="200" data-aos-anchor=".gallery">
                        <div class="section-title text-white text-uppercase">{{gallery.title}}</div>
                        <div class="section-body">{{gallery.description}}</div>
                        <a :href="gallery.external_link" target="_blank" class="section-link mt-lg-4 mt-3 rounded">
                            <span class="text-uppercase">{{tr.seeAll}}</span>
                        </a>
                    </div>
                    <div class="body-content" data-aos="fade-up" data-aos-offset="200" data-aos-delay="300"
                        data-aos-anchor=".gallery">
                        <div class="h-100">
                            <div class="home-photoAlbum">
                                <a :href="photo.link" class="gallery-item position-relative" target="_blank"
                                    v-for="photo in gallery_images">
                                    <img :src="serverPath+photo.image" />
                                    <div class="overlay position-absolute">
                                        <div class="text">{{ photo.title }}</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="partners" data-hash="partners" class="section partner" style="background-size: cover;"
                v-if="partners" :style="{ backgroundImage: 'url('+serverPath+partners.background+')'}">
                <div class="d-flex flex-column justify-content-between h-100 w-100">
                    <div class="head-content h-50 d-flex flex-column section-tag"
                        :data-aos="[language=='ar' ? 'fade-left' : 'fade-right']" data-aos-offset="600"
                        data-aos-delay="200" data-aos-anchor=".partner">
                        <div class="section-title text-white text-uppercase">{{partners.title}}</div>
                        <div class="section-body">{{partners.description}}</div>
                    </div>
                    <div class="body-content" data-aos="fade-up" data-aos-offset="200" data-aos-delay="300"
                        data-aos-anchor=".partner">
                        <div class="h-100">
                            <div class="home-partners">
                                <div href="serverPath+photo.image" class="gallery-item position-relative"
                                    v-for="img in partner_images">
                                    <img :src="serverPath+img.image" class="d-block m-auto" height="110px" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section id="library" data-hash="library" class="section library" style="background-size: cover;"
                v-if="library" :style="{ backgroundImage: 'url('+serverPath+library.background+')'}">
                <div class="d-flex flex-column justify-content-between h-100 w-100">
                    <div class="head-content h-50 d-flex flex-column section-tag"
                        :data-aos="[language=='ar' ? 'fade-left' : 'fade-right']" data-aos-offset="600"
                        data-aos-delay="200" data-aos-anchor=".library">
                        <div class="section-title text-white text-uppercase">{{library.title}}</div>
                        <div class="section-body">{{library.description}}</div>
                        <a href="./library-list.html?activeList=library" class="section-link mt-lg-4 mt-3 rounded">
                            <span>{{tr.seeList}}</span>
                        </a>
                    </div>
                    <div class="body-content" data-aos="fade-up" data-aos-offset="200" data-aos-delay="300"
                        data-aos-anchor=".library">
                        <div class="h-100">
                            <div class="home-library">
                                <a :href="'./news-detailed.html?news-id='+item.id+'&page-type=library'"
                                    class="library-item position-relative"
                                    v-for="item in library_resources.libraryList">
                                    <img :src="serverPath+item.img" />
                                    <div class="overlay position-absolute">
                                        <div class="text">{{ item.title }}
                                            <p class="m-0 mt-2 text-blue">{{tr.read_more}}</p>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section mob-subscribe d-block d-md-none v-if=" sub">
                <div id="subscribeSuccess" class="subscribeSuccess" v-if="subscribe.subscribeSuccess == true">
                    <div class="bg-white content">
                        <div class="d-flex flex-column align-items-center parent">
                            <i class="far fa-check-circle mb-4 fa-lg text-success"></i>
                            <div class="textMessage text-success mt-3">
                                {{tr.subSuccess}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid bg-white subscribeFix">
                    <div class="row d-flex flex-column justify-content-between subscribeFix">
                        <div class="d-flex flex-column justify-content-between h-75 m-auto">
                            <div class="left-content">
                                <div class="text-info">
                                    <h1 class="news-title text-red m-0 text-uppercase">{{tr.subscribeMsg}}</h1>
                                    <h5 class="news-paragraph mt-3 text-capitalize text-muted">
                                        {{tr.subscribeSlog}}
                                    </h5>
                                </div>
                            </div>
                            <form class="custom-form d-flex flex-column position-relative" id="validated-form" action=""
                                method="post" onsubmit="subscription('#validated-form')">
                                <input type="email" class="custom-input rounded form-control form-control-lg bg-light"
                                    v-if="language=='en'" req="true" placeholder="Enter Your E-mail"
                                    v-model="subscribe.email">
                                <input type="email" class="custom-input form-control form-control-lg bg-light"
                                    v-if="language=='ar'" req="true" placeholder="أدخل بريدك الإلكتروني"
                                    v-model="subscribe.email">
                                <button @click="subscription('#validated-form')" id="handleBtn"
                                    class="rounded border-0 bg-red text-white text-uppercase w-100"
                                    type="button">{{tr.subscribe}}
                                </button>
                            </form>
                            <!-- <div class="subscribeSuccess" v-if="subscribe.subscribeSuccess">
                                <div class="alert alert-success text-success d-flex align-items-center mt-3"
                                    role="alert">
                                    <i class="far fa-check-circle mr-2 fa-lg"></i>
                                    <div class="textMessage">
                                        {{tr.subSuccess}}
                                    </div>
                                </div>
                            </div> -->

                        </div>
                    </div>
                </div>
            </section>
            <section id="contacts" data-hash="contacts" class="section footer">
                <div id="subscribe" class="container-fluid d-none d-md-block bg-white">
                    <div class="row align-items-center sub ml-5 position-relative">
                        <div class="col-6 h-50 d-flex flex-column justify-content-between">
                            <div class="left-content">
                                <div class="text-info">
                                    <h1 class="news-title m-0 text-uppercase">{{tr.subscribeMsg}}</h1>
                                    <h5 class="news-paragraph mt-4 text-capitalize text-muted">
                                        {{tr.subscribeSlog}}
                                    </h5>
                                </div>
                            </div>
                            <form class="custom-form d-flex position-relative" id="validated-form" action=""
                                method="post">
                                <input type="email" class="custom-input form-control form-control-lg bg-light"
                                    v-if="language=='en'" req="true" placeholder="Enter Your E-mail"
                                    v-model="subscribe.email">
                                <input type="email" class="custom-input form-control form-control-lg bg-light"
                                    v-if="language=='ar'" req="true" placeholder="أدخل بريدك الإلكتروني"
                                    v-model="subscribe.email">
                                <button @click="subscription('#validated-form')"
                                    class="border-0 position-absolute bg-red text-white text-uppercase w-25"
                                    type="button">{{tr.subscribe}}
                                </button>
                            </form>
                            <div class="subscribeSuccess" v-if="subscribe.subscribeSuccess">
                                <div class="alert alert-success text-success d-flex align-items-center mt-3"
                                    role="alert">
                                    <i class="far fa-check-circle mr-2 fa-lg"></i>
                                    <div class="textMessage">
                                        {{tr.subSuccess}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="background position-absolute">
                            <img src="./imgs/email1.svg" alt="">
                        </div>
                    </div>
                </div>
                <div id="sub-footer" class="sub-footer" v-if="footer.contact_info">
                    <div class="row px-4 pt-5 p-md-5">
                        <div class="col-12 col-md-4 mt-4 mt-md-0">
                            <div class="footer-logo">
                                <img src="./imgs/footer-logo.png" alt="" height="60">
                            </div>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="row">
                                <div class="col-12 col-md-4 mt-0">
                                    <div class="abouts-links">
                                        <h5 class="text-uppercase">{{tr.about}}</h5>
                                        <ul class="p-0 m-0 mt-3">
                                            <li class="py-1">
                                                <a href="./about-detailed.html?activeList=about_the_incubator"
                                                    class="text-secondary text-uppercase ">{{tr.aboutIncubator }}</a>
                                                </li">
                                            <li class="py-1">
                                                <a href="./about-detailed.html?activeList=about_game_jordan"
                                                    class="text-secondary text-uppercase ">{{tr.aboutGame}}</a>
                                            </li>
                                            <li class="py-1">
                                                <a href="./about-detailed.html?activeList=about_jyif"
                                                    class="text-secondary text-uppercase ">{{tr.aboutJyif}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 mt-4 mt-md-0">
                                    <div class="contacts-links">
                                        <h5 class="text-uppercase">{{tr.Contact_us}}</h5>
                                        <ul class="p-0 m-0 mt-3">
                                            <li class="py-1">
                                                <div class="m-0 text-secondary d-flex align-items-center">
                                                    <i class="fas fa-phone-alt"
                                                        :class="language=='ar' ? 'ml-1' : 'mr-1'"></i>
                                                    <div class="phone-number"
                                                        :style="language=='ar' ? 'direction: ltr; margin-right: 6px;' : ''">
                                                        {{ footer.contact_info.info[0].contact_phone }}
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="py-1">
                                                <p class="m-0 text-secondary"><i class="fas fa-envelope mr-1"></i>
                                                    <a href="mailto:info@streetsportsincubator.org"
                                                        class="text-secondary">
                                                        {{ footer.contact_info.info[0].contact_email }}
                                                    </a>
                                                </p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-12 col-md-4 mt-4 mt-md-0">
                                    <div class="Social-links">
                                        <h5 class="text-uppercase">{{tr.socialMedia}}</h5 class="text-uppercase">
                                        <ul class="p-0 m-0 mt-3 d-flex">
                                            <li class="border-right-0 border border-info">
                                                <a :href="footer.contact_info.social_links.fb_link" target="_blank"
                                                    class="facebook text-dark">
                                                    <i class="fab fa-facebook-f fa-lg"></i></a>
                                            </li>
                                            <li class="border-right-0 border border-info">
                                                <a :href="footer.contact_info.social_links.tw_link" target="_blank"
                                                    class="twitter text-dark">
                                                    <i class="fab fa-twitter fa-lg"></i>
                                                </a>
                                            </li>
                                            <li class="border-right-0 border border-info">
                                                <a :href="footer.contact_info.social_links.yt_link" target="_blank"
                                                    class="youtube text-dark">
                                                    <i class="fab fa-youtube fa-lg"></i>
                                                </a>
                                            </li>
                                            <li class="border-right-0 border border-info">
                                                <a :href="footer.contact_info.social_links.in_link" target="_blank"
                                                    class="linkedin text-dark">
                                                    <i class="fab fa-linkedin fa-lg"></i>
                                                </a>
                                            </li>
                                            <li class="border border-info">
                                                <a :href="footer.contact_info.social_links.ig_link" target="_blank"
                                                    class="instagram text-dark">
                                                    <i class="fab fa-instagram fa-lg"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div
                        class="copy-rights p-2 px-2 px-md-5 d-flex justify-content-between flex-column flex-md-row text-center text-md-left">
                        <h6 class="m-0"><small>{{ footer.contact_info.info[0].copy_write }}</small></h6 class="p-0">
                        <h6 class="m-0 mt-2 mt-md-0"><small>{{tr.powered}}<a href="http://www.eappera.com"
                                    target="_blank" class="text-info">EappEra</a></small>
                        </h6>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <script src="./js/jquery.min.js"></script>
    <script src="./js/jquery.mousewheel.js"></script>
    <script src="./js/jquery.withinviewport.js"></script>
    <script src="./js/withinviewport.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/slick.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/aos.js"></script>
    <script src="./lightbox2-dev/dist/js/lightbox.js"></script>
    <script src="./js/locales_ar.js"></script>
    <script src="./js/locales_en.js"></script>
    <script src="./js/scripts.js"></script>

    <script>
        AOS.init({
            disable: 'mobile',
        });
    </script>
</body>

</html>