<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css">
    <link rel="stylesheet" href="scss/fonts.css">
    <link rel="stylesheet" href="scss/aos.css">
    <link rel="stylesheet" href="scss/style.css">
    <link rel="stylesheet" href="scss/internal-style.css">
    <link href="https://fonts.googleapis.com/css?family=Almarai:400,700,800&display=swap&subset=arabic"
        rel="stylesheet">
    <title>Street sports incubator</title>
    <link rel="shortcut icon" type="image/gif" href="./imgs/logo-animation.gif">
</head>

<body class="library-list">
    <div id="app" :class="language" style="height: 100vh;">
        <link rel="stylesheet" href="./scss/style_ar.css" v-if="language=='ar'">
        <link rel="stylesheet" href="./scss/internal-style_ar.css" v-if="language=='ar'">
        <link rel="stylesheet" href="https://cdn.rtlcss.com/bootstrap/v4.2.1/css/bootstrap.min.css"
            v-if="language=='ar'">
        <div id="loader" v-if="loading" class="loading position-fixed"
            style="padding: 0; margin: 0; width: 100vw;height: 100vh;background: #f6f4e2;z-index: 9999;display: flex;align-items: center;justify-content: center;">
            <img src="./imgs/logo-animation.gif" height="120px" alt="">
        </div>
        <div class="sidebar h-100 position-fixed border-right" :class="[open == true ? 'show' : '']">
            <div class="bg-white custom-height" id="sidebar-wrapper" @click="open = false">
                <div class="list-group list-group-flush h-auto side-links">
                    <a href="./index.html#home" :class="[activeLink == 'home' ? 'active' : '']"
                        @click="activeLink = 'home'" class="list-group-item-action w-100 text-uppercase">{{tr.home}}</a>
                    <a href="./index.html#news" :class="[activeLink == 'news' ? 'active' : '']"
                        @click="activeLink = 'news'"
                        class="list-group-item-action w-100 text-uppercase">{{tr.news_events}}</a>
                    <a href="./index.html#about" :class="[activeLink == 'about' ? 'active' : '']"
                        @click="activeLink = 'about'"
                        class="list-group-item-action w-100 text-uppercase">{{tr.about}}</a>
                    <a href="./index.html#gallery" :class="[activeLink == 'gallery' ? 'active' : '']"
                        @click="activeLink = 'gallery'"
                        class="list-group-item-action w-100 text-uppercase">{{tr.gallery}}</a>
                    <a href="./index.html#partners" :class="[activeLink == 'partners' ? 'active' : '']"
                        @click="activeLink = 'partners'"
                        class="list-group-item-action w-100 text-uppercase">{{tr.partners}}</a>
                    <a href="./index.html#library" :class="[activeLink == 'library' ? 'active' : '']"
                        @click="activeLink = 'library'"
                        class="list-group-item-action w-100 text-uppercase">{{tr.library}}</a>
                </div>
                <div class="list-group list-group-flush h-auto mt-auto side-links">
                    <div class="mt-auto">
                        <div class="d-flex text-center languages-links">
                            <a href="javascript:void(0)" @click="setLanguage('en')"
                                class="list-group-item-action w-100 text-uppercase">English</a>
                            <a href="javascript:void(0)" @click="setLanguage('ar')"
                                class="list-group-item-action w-100 ar-link">عربي</a>
                        </div>
                        <a href="./registration.html"
                            class="list-group-item-action w-100 bg-orange text-uppercase">{{tr.registration}}</a>
                        <a href="./contacts.html"
                            class="list-group-item-action w-100 bg-red text-uppercase">{{tr.Contact_us}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="data h-auto" :class="[open == true ? 'dragged' : '' ]">
            <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom custom-navbar py-0"
                data-aos="fade-down">
                <a href="#" class="d-block side-menu" @click="open = !open" :class="[open == true ? 'opened' : '' ]">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
                <div class="collapse navbar-collapse h-100" id="navbarNav">
                    <ul class="navbar-nav h-100">
                        <li class="nav-item border-right">
                            <a class="nav-link py-0 px-4" href="./index.html#library"
                                :style="language=='ar' ? 'margin: -3px 0;font-weight: 600;' : ''">
                                <i class="fas mr-2" :class="[language=='ar' ? 'fa-angle-right' : 'fa-angle-left']"
                                    :style="language=='ar' ? 'vertical-align: sub;' : ''"></i>{{tr.back}}</a>
                        </li>
                        <li class="nav-item border-right" @click="newsPage.activeList = 'news'"
                            :class="[library_resources.activeList == 'library' ? 'active' : '']">
                            <a class="nav-link py-0 px-4 text-uppercase" href="#">{{tr.libraryTab}}</a>
                        </li>
                    </ul>
                </div>
                <div class="moile-nav d-block d-lg-none">
                    <div class="d-flex">
                        <ul class="navbar-nav">
                            <li class="nav-item border-right">
                                <a class="nav-link py-0 px-4" href="./index.html#library"><i
                                        class="fas mr-2" :class="[language=='ar' ? 'fa-angle-right' : 'fa-angle-left']"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link py-0 px-4 text-uppercase text-dark">{{tr.libraryTab}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div class="library-content h-100" id="content" v-if="library_resources.activeList == 'library'"
                @click="open = false">
                <div class="container-fluid h-100">
                    <div class="row h-100">
                        <div class="col-md-4 h-md-100 bg-white h-auto side-list p-4 p-md-5" data-aos="fade-right">
                            <div class="list-title text-uppercase mb-2">{{tr.libraryTab}}</div>
                            <h4 class="list-slogan text-muted">{{tr.librarySlog}}</h4>
                        </div>
                        <div class="col-md-8 content-list h-100 bg-white p-0" data-aos="fade-left">
                            <div class="container custom-container">
                                <div class="row news-item" v-for="item in library_resources.libraryList">
                                    <div class="col-md-5 img-news col-12 h-100">
                                        <img class="w-100" :src="serverPath+item.img" alt="">
                                    </div>
                                    <div class="col-md-7 content-news col-12 h-auto my-auto">
                                        <div class="news-card h-100 arrow-right">
                                            <div class="d-flex flex-column justify-content-between h-100">
                                                <div class="d-flex justify-content-between">
                                                    <h6 class="card-info text-muted m-0"><small
                                                            class="font-weight-bold">{{ item.created_at.slice(0, 10) }}</small>
                                                    </h6>
                                                </div>
                                                <a :href="'./news-detailed.html?news-id='+item.id+'&page-type=library'"
                                                    class="card-title text-red custom-title my-1 text-uppercase">
                                                    {{ item.title }}</a>
                                                <p class="card-text custom-paragraph my-1">
                                                    {{ item.text.slice(0, 100) + '...' }}</p>
                                                <div class="links d-flex justify-content-between mt-3">
                                                    <a :href="'./news-detailed.html?news-id='+item.id+'&page-type=library'"
                                                        class="view-btn text-red text-uppercase px-0">
                                                        <i class="fas mr-2" :class="[language=='ar' ? 'fa-angle-left' : 'fa-angle-right']"></i>{{tr.viewDoc}}
                                                    </a>
                                                    <a :href="serverPath+item.doc_link" target="_blank"
                                                        class="download-btn text-white bg-red border rounded text-uppercase">
                                                        <i class="fas fa-file-pdf mr-3"></i>{{tr.saveDoc}}
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sub-footer" class="sub-footer" v-if="footer.contact_info">
                <div class="row px-4 pt-5 p-md-5">
                    <div class="col-12 col-md-4 mt-4 mt-md-0">
                        <div class="footer-logo">
                            <img src="./imgs/footer-logo.png" alt="" height="60">
                        </div>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="row">
                            <div class="col-12 col-md-4 mt-4 mt-md-0">
                                <div class="abouts-links">
                                    <h5 class="text-uppercase">{{tr.about}}</h5>
                                    <ul class="p-0 m-0 mt-3">
                                        <li class="py-1">
                                            <a href="./about-detailed.html?activeList=about_the_incubator"
                                                class="text-secondary text-uppercase ">{{tr.aboutIncubator }}</a>
                                            </li">
                                        <li class="py-1">
                                            <a href="./about-detailed.html?activeList=about_game_jordan"
                                                class="text-secondary text-uppercase ">{{tr.aboutGame}}</a>
                                        </li>
                                        <li class="py-1">
                                            <a href="./about-detailed.html?activeList=about_jyif"
                                                class="text-secondary text-uppercase ">{{tr.aboutJyif}}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 mt-4 mt-md-0">
                                <div class="contacts-links">
                                    <h5 class="text-uppercase">{{tr.Contact_us}}</h5>
                                    <ul class="p-0 m-0 mt-3">
                                        <li class="py-1">
                                            <div class="m-0 text-secondary d-flex align-items-center">
                                                <i class="fas fa-phone-alt"
                                                    :class="language=='ar' ? 'ml-1' : 'mr-1'"></i>
                                                <div class="phone-number"
                                                    :style="language=='ar' ? 'direction: ltr; margin-right: 6px;' : ''">
                                                    {{ footer.contact_info.info[0].contact_phone }}
                                                </div>
                                            </div>
                                        </li>
                                        <li class="py-1">
                                            <p class="m-0 text-secondary"><i class="fas fa-envelope mr-1"></i>
                                                <a href="mailto:info@streetsportsincubator.org"
                                                    class="text-secondary">
                                                    {{ footer.contact_info.info[0].contact_email }}
                                                </a>
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 mt-4 mt-md-0">
                                <div class="Social-links">
                                    <h5 class="text-uppercase">{{tr.socialMedia}}</h5 class="text-uppercase">
                                    <ul class="p-0 m-0 mt-3 d-flex">
                                        <li class="border-right-0 border border-info">
                                            <a :href="footer.contact_info.social_links.fb_link" target="_blank"
                                                class="facebook text-dark">
                                                <i class="fab fa-facebook-f fa-lg"></i></a>
                                        </li>
                                        <li class="border-right-0 border border-info">
                                            <a :href="footer.contact_info.social_links.tw_link" target="_blank"
                                                class="twitter text-dark">
                                                <i class="fab fa-twitter fa-lg"></i>
                                            </a>
                                        </li>
                                        <li class="border-right-0 border border-info">
                                            <a :href="footer.contact_info.social_links.yt_link" target="_blank"
                                                class="youtube text-dark">
                                                <i class="fab fa-youtube fa-lg"></i>
                                            </a>
                                        </li>
                                        <li class="border-right-0 border border-info">
                                            <a :href="footer.contact_info.social_links.in_link" target="_blank"
                                                class="linkedin text-dark">
                                                <i class="fab fa-linkedin fa-lg"></i>
                                            </a>
                                        </li>
                                        <li class="border border-info">
                                            <a :href="footer.contact_info.social_links.ig_link" target="_blank"
                                                class="instagram text-dark">
                                                <i class="fab fa-instagram fa-lg"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                    class="copy-rights p-2 px-2 px-md-5 d-flex justify-content-between flex-column flex-md-row text-center text-md-left">
                    <h6 class="m-0"><small>{{ footer.contact_info.info[0].copy_write }}</small></h6 class="p-0">
                    <h6 class="m-0 mt-2 mt-md-0"><small>{{tr.powered}}<a href="http://www.eappera.com"
                                target="_blank" class="text-info">EappEra</a></small>
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <script src="js/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="./js/axios.min.js"></script>
    <script src="./js/locales_ar.js"></script>
    <script src="./js/locales_en.js"></script>
    <script src="js/scripts.js"></script>
    <script>
        AOS.init();
    </script>
</body>

</html>